body {
    background-image: url(nfl-logos/cowboys-bkg.jpg);
    background-size: 100%;
}

#nfl-header {
    height: 200px;
    background-color: #012F61;
    box-shadow: 0 0 3pt 2pt white;
    border-radius: 25px;
    opacity: 90%;
    margin: 5px;
}

#NFL-image {
    height: 200px;
    width: 170px;
    margin: auto;
}

#AFC-image,
#NFC-image {
    height: 70px;
    width: 70px;
}

.conf {
    height: fit-content;
    box-shadow: 0 0 3pt 2pt white;
    text-align: center;
}

#team-selection {
    height: fit-content;
}

.div-btn,
.div-btn-1 {
    margin-top: 15px;
    padding: 5px 20px 5px 20px;
    font-size: larger;
    font-weight: bold;
    border: solid black;
    background-color: rgb(252, 248, 248, .6);
    color: black;
}

#afc-btn,
#nfc-btn {
    background-color: transparent;
    border: none;
}

.team-logos {
    height: 40px;
    width: 40px;
}

.teams {
    margin-top: 10px;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.team-btn {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: black;
    border: solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, .6);
}

.team-logos-big {
    height: 400px;
    width: auto;
}

#team-col {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin-bottom: 10px;
}

#clicked-team {
    margin-top: 50px;
    font-size: 60px;
    color: red;
    font-weight: bolder;
}

#coach {
    margin-top: 50px;
    font-size: 50px;
    color: red;
    font-weight: bolder;
}

.list-container {
    margin-top: 50px;
}

.player-col {
    height: inherit;
    outline-width: 1px;
    border-radius: 30px;
    color: red;
    font-weight: bold;
    font-size: large;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    box-shadow: 0 0 3pt 2pt rgb(192, 20, 20);
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}