body {
    background: rgb(13, 174, 248);
}

.headNav {
    color: rgb(13, 0, 202);
    z-index: 100;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.d-flex {
    text-align: end;
}

.fullscreenVideo {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.fullscreenVideo video {
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    height: 131%;
    z-index: -12;
    opacity: 0.60;
}

h1 {
    text-align: center;
    color: rgb(8, 8, 8);
    font-weight: bold;
    font-family: inherit;
}

.row {
    margin-top: 7%;
}

.move {
    margin: auto auto;
}

.card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(253, 4, 4, 0.979);
    -moz-box-shadow: -1px 9px 40px -12px rgba(250, 249, 249, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(250, 249, 249, 0.75);
}

.fifaText {
    margin-bottom: 0 0;
}